@import "tailwindcss";

@theme {
  --color-board-bg: #dde6e8;
  --color-board-border: #334155;
}

@layer utilities {
  .glassmorphism {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
  }
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
}
